body {
    background-color: #ADD8E6;
    font: 1em Arial, sans-serif;
    text-align: center;
}

h1 {
  font: 3em bold Arial, sans-serif;
  text-align: center;
}

/* .button1 { 
  align-items: center; 
  appearance: none; 
  background-color: #3EB2FD; 
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%); 
  background-size: calc(100% + 20px) calc(100% + 20px); 
  border-radius: 100px; border-width: 0; 
  box-shadow: none; box-sizing: border-box; 
  color: #FFFFFF; 
  cursor: pointer; 
  display: inline-flex; 
  font-family: CircularStd,sans-serif; 
  font-size: 1rem; 
  height: auto; 
  justify-content: center; 
  line-height: 1.5; 
  padding: 6px 20px; 
  position: relative; 
  text-align: center; 
  text-decoration: none; 
  transition: background-color .2s,background-position .2s; 
  user-select: none; 
  -webkit-user-select: none; 
  touch-action: manipulation; 
  vertical-align: top; 
  white-space: nowrap;
}

.button1:active, 
.button1:focus { 
  outline: none; 
} 
.button1:hover { 
  background-position: -20px -20px; 
} 
.button1:focus:not(:active) { 
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em; 
} */

.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate-90 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

footer {
    text-align: left;
    padding: 3px;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}